@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Total Group Miles</h2>
        
    </div>
    <div class="col-md-4">
        <h2> Add Miles</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Update Profile</h2>
        
    </div>
</div>